[user]
        name = Rima Al-Ghossein
        email = rima.alghossein@datadoghq.com
        signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIIwuHVS0JD4RewFbqjkIVl7DelPgLr4xTuRu7RauRHpY rima.alghossein+git-commit-signing@datadoghq.com
[commit]
	gpgsign = true
[gpg]
	format = ssh

[url "git@github.com:DataDog/"]
        insteadOf = https://github.com/DataDog/
